.container {
	width: 1200px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.gap {
	gap: 2rem;
}

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}
.align-start {
	align-items: center;
}
.align-stretch {
	align-items: stretch;
}

.portion {
	flex: 1;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.wrap {
	flex-wrap: wrap;
}

section {
	padding {
		top: 3rem;
		bottom: 3rem;
	}
	h1 {
		font-size: 3.5rem;
		font-weight: 700;
		margin-block: 0.6rem;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		text-transform: capitalize;
	}
	h3 {
		font-size: 2.25rem;
		font-weight: 700;
	}
	h4 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	h5 {
		font-size: 1rem;
		font-weight: 700;
	}
	p {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
	}
}
